<html>

    <head>
        <title>ErosZhou - 开发模版</title>
    </head>

    <body>
        <form action="/actuator/shutdown" method="POST">
            <input type="submit" value="关闭">
        </form>
        <button id="shutdown" type="submit">关闭服务</button>

        <ul id="errors"></ul>

        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $("#shutdown").click(function () {
                $.post({
                    url: "/actuator/shutdown",
                    complete: function (result) {
                        let ele = document.createElement("li");
                        ele.innerText = result.responseText;

                        $("#errors").append(ele);
                    },
                    dataType: "json"
                });
            });
        </script>
    </body>

</html>